<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
        <!--         <setting title="enhancementEnabled" name="true"/> -->
        <!--         <setting title="lazyLoadingEnabled" name="true"/> -->
        <!--         <setting title="maxRequests" name="32"/> -->
        <!--         <setting title="maxSessions" name="10"/> -->
        <!--         <setting title="maxTransactions" name="5"/> -->
        <!--         <setting title="useStatementNamespaces" name="true"/> -->

        <!--     <setting title="lazyLoadingEnabled" name="true"/>-->
        <!--     <setting title="aggressiveLazyLoading" name="false"/>-->
    </settings>

    <!-- 别名
   <typeAliases>
       <typeAlias type="com.asgard.bms.business.model.Person" alias="PersonAlias"/>
   </typeAliases>
    -->


    <!--
    指定数据库分页方言Dialect, 其它方言:OracleDialect,SQLServerDialect,SybaseDialect,DB2Dialect,PostgreSQLDialect,MySQLDialect,DerbyDialect
    <plugins>
        <plugin interceptor="com.asgard.cfap.plugin.dialect.interceptor.OffsetLimitInterceptor">
            <property title="dialectClass" name="com.asgard.cfap.plugin.dialect.MySQLDialect"/>
        </plugin>
    </plugins>
    <mappers>
        <mapper resource="com.asgard.bms.business.mapper.PersonMapper.xml"/>
    </mappers>
     -->
</configuration>