<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.madiot.bookstore.mapper.NoticeBGMapper">
    <resultMap id="base" type="com.madiot.bookstore.domian.entity.NoticeBGEntity">
        <id column="id" property="id"></id>
        <result column="title" property="title"></result>
        <result column="position_x" property="positionX"></result>
        <result column="position_y" property="positionY"></result>
        <result column="width" property="width"></result>
        <result column="height" property="height"></result>
        <result column="background_path" property="backgroundPath"></result>
        <result column="notice_count" property="noticeCount"></result>
    </resultMap>

    <sql id="base_column">
        id, title, position_x, position_y, width, height, background_path, notice_count
    </sql>

    <insert id="insert" parameterType="com.madiot.bookstore.domian.entity.NoticeBGEntity">
      insert into t_notice_bg (title, position_x, position_y, width, height, background_path, notice_count)
      values (#{title}, #{positionX}, #{positionY}, #{width}, #{height}, #{backgroundPath}, #{notice_count})
    </insert>

    <update id="update" parameterType="com.madiot.bookstore.domian.entity.NoticeBGEntity">
        update t_notice_bg
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="positionX != null">
                position_x = #{positionX},
            </if>
            <if test="positionY != null">
                position_y = #{positionY},
            </if>
            <if test="width != null">
                width = #{width},
            </if>
            <if test="height != null">
                height = #{height},
            </if>
            <if test="noticeCount != null">
                notice_count = #{noticeCount},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="used" parameterType="int">
        update t_notice_bg set used = 0 where used = 1;
        update t_notice_bg SET used = 1 where id = #{id};
    </update>

    <select id="getUsed">
        select
        <include refid="base_column"/>
        from t_notice_bg where used = 1;
    </select>

    <select id="selectByCondition" parameterType="com.madiot.bookstore.domian.PageBean">
        select
        <include refid="base_column"/>
        from t_notice_bg
        <where>
            <if test="condition.title != null and condition.title != ''">
                and title like CONCAT('%','${condition.title}','%')
            </if>
        </where>
        <if test="start >= 0 and limit > 0">
            limit #{start}, #{limit}
        </if>
    </select>

    <select id="countByCondition" parameterType="com.madiot.bookstore.domian.PageBean">
        select count(1)
        from t_notice_bg
        <where>
            <if test="condition.title != null and condition.title != ''">
                and title like CONCAT('%','${condition.title}','%')
            </if>
        </where>
    </select>

    <delete id="delete" parameterType="int">
        delete from t_notice_bg where id = #{id}
    </delete>
</mapper>