<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.madiot.bookstore.mapper.NoticeMapper">
    <resultMap id="base" type="com.madiot.bookstore.domain.entity.NoticeEntity">
        <id column="id" property="id"></id>
        <result column="img_path" property="imgPath"></result>
        <result column="link" property="link"></result>
        <result column="alt" property="alt"></result>
        <result column="title" property="title"></result>
    </resultMap>

    <sql id="base_column">
        id, img_path, link, alt, title, top
    </sql>

    <insert id="insert" parameterType="com.madiot.bookstore.domain.entity.NoticeEntity">
        insert into t_notice (img_path, link, alt, title, top)
        values (#{imgPath}, #{link}, #{alt}, #{title}, #{top})
    </insert>

    <update id="update" parameterType="com.madiot.bookstore.domain.entity.NoticeEntity">
        update t_notice
        <set>
            <if test="link != null and link != ''">
                link = #{link},
            </if>
            <if test="alt != null">
                alt = #{alt},
            </if>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="top != null">
                top = #{top},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="top" parameterType="int">
        update t_notice set top = max(top) + 1 where id = #{id};
    </update>

    <select id="selectTops" parameterType="int" resultMap="base">
        select
        <include refid="base_column"/>
        from t_notice
        order by top dec limit 0, #{count}
    </select>

    <select id="selectByCondition" parameterType="com.madiot.bookstore.domain.PageBean" resultMap="base">
        select
        <include refid="base_column"/>
        from t_notice
        <where>
            <if test="condition != null and condition.title != null and condition.title != ''">
                and title like CONCAT('%','${condition.title}','%')
            </if>
            <if test="condition != null and condition.alt != null and condition.alt != ''">
                and alt like CONCAT('%','${condition.alt}','%')
            </if>
        </where>
        order by top DESC
        <if test="start >=0 and limit > 0">
            limit #{start},#{limit}
        </if>
    </select>

    <select id="countByCondition" parameterType="com.madiot.bookstore.domain.PageBean">
        select count(1) from t_notice
        <where>
            <if test="condition.title != null and condition.title != ''">
                and title like CONCAT('%','${condition.title}','%')
            </if>
            <if test="condition.alt != null and condition.alt != ''">
                and alt like CONCAT('%','${condition.alt}','%')
            </if>
        </where>
    </select>

    <delete id="delete" parameterType="int">
        delete from t_notice where id = #{id}
    </delete>
</mapper>